*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Styles */
:root {
  --orange-color: #eb5757;
  --dark-color: #888888;
  --gray-color: #f2f2f2;
  --white-color: #ffffff;
  --black-color: #000000;
}

/* Text Styles */

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.woff2') format('woff2'),
    url('/fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('Oswald-Medium.woff2') format('woff2'),
    url('Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('Oswald-SemiBold.woff2') format('woff2'),
    url('Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.text_xxl {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}

.text_xl {
  color: var(--black-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.text_xl_medium {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.02em;
}

.text_xl_gray {
  color: var(--dark-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.text_xl_gray_crossed {
  color: var(--dark-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: line-through;
}

.text_lg {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.text_lg_medium_white {
  color: var(--white-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
}

.text_md_gray {
  color: var(--dark-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

.text_sm_gray {
  color: var(--dark-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
